@font-face {
  font-family: "wudoo-mono";
  src: url("/fonts/WudooMono-Light.woff2") format("woff2"),
    url("/fonts/WudooMono-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "wudoo-mono";
  src: url("/fonts/WudooMono-Regular.woff2") format("woff2"),
    url("/fonts/WudooMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "wudoo-mono";
  src: url("/fonts/WudooMono-Bold.woff2") format("woff2"),
    url("/fonts/WudooMono-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

body {
  font-family: "wudoo-mono", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
