---
import ThemeToggle from "../components/ThemeToggle.astro";
---

<div
  class='min-h-80 max-sm:min-h-full flex flex-col justify-around py-10 max-sm:px-4'>
  <div class='flex justify-between'>
    <div>
      <h1 class='font-bold text-lg'>Naing Linn Phyo</h1>
      <h2>Senior Backend Developer</h2>
    </div>
    <div>
      <ThemeToggle />
    </div>
  </div>
  <div class='max-sm:mt-10'>
    <p>
      I'm a backend developer and team lead at <a
        href='https://xsphere.co'
        target='_blank'
        ><span class='text-green-500 underline'>xsphere.co</span></a
      >, specializing in JavaScript, TypeScript, PHP, and Golang. With extensive
      experience in both frontend and backend development, I excel in creating
      powerful and responsive web applications. Currently, I lead the
      development of <a href='https://farytaxi.com' target='_blank'
        ><span class='text-green-500 underline'>Fary Taxi</span></a
      > and Getbak, leveraging microservices technologies like gRPC and Redis to
      build efficient and scalable solutions.
    </p>
  </div>
</div>
