---
import Layout from "../layouts/Layout.astro";
import Header from "./header.astro";
import Experience from "./experience.astro";
---

<Layout title='NaingLinnPhyo'>
  <main class='max-w-2xl m-auto'>
    <Header />
    <Experience />
  </main>
</Layout>
